@import '../../scss/abstracts/_variables';
@import '../../scss/abstracts/_mixins';

.summary__stats{
  @include flex(center, flex-start);

  &__chart{
    width:40%;
    margin-left: 10px;

    
    &__value{
      margin-top:-30%;
      font-weight:700;
    }
  }
  
  &__info{
    width:60%;
    @include flex(start, space-between);
    flex-direction: column;

    &__title{
      font-size:$font-size-medium;
      font-weight:700;
      line-height:1.2;
      width:max-content;

      span{
        font-size:13px;
        font-weight: 400;
     
      }
    }

    &__value{
      font-weight:700;
      font-size:$font-size-large;
      color:$black;
    }
  }

  
}