@use 'sass:math';
@import '../../scss/abstracts/_variables';
@import '../../scss/abstracts/_mixins';

.revenue__list {
  & > * ~ * {
      margin-top: math.div($spacing, 2);
  }

  &__item {
      &__title {
          @include flex(center, space-between);
          font-size: $font-size-medium;
          margin-bottom: math.div($spacing, 6);

          span {
              font-weight: 700;
          }
      }
  }
}