@import '../../scss/abstracts/_variables';
@import '../../scss/abstracts/_mixins';

.topnav{
  @include flex(center, space-between);
  position: absolute;
  margin-bottom:$spacing;
  width:calc(100% - $sidebar-width);
  margin-left:$sidebar-width;
  height: 60px;
  padding:40px 20px;
  border:1px solid green;
  z-index:100;

  

  &__user{
    @include flex(center, center);
    background-color: aqua;
  }

  @include tablet{
    margin-bottom:$mobile-spacing;
  }
}

.sidebar__toggle{
  --size:40px;
  width:var(--size);
  height: var(--size);
  @include flex(center, center);
  cursor: pointer;
  visibility: hidden;

  @include tablet{
    @include flex(center, center);
    visibility: visible;
  }

  i{
    font-size: 2rem;
    color:red;
  }
}