@import '../../scss/abstracts/_variables';
@import '../../scss/abstracts/_mixins';

.topnav{
  @include flex(center, space-between);
  margin-bottom:$spacing;
  
  @include tablet{
    margin-bottom: $mobile-spacing;
  }
  
}

.sidebar__toggle{
  --size:40px;
  width:var(--size);
  height: var(--size);
  @include flex(center, center);
  cursor: pointer;

  @include tablet{
    @include flex(center, center);
  }

  i{
    font-size: 3rem;
    color:$main-color;
  }
}