@use 'sass:math';
@import '../../scss/abstracts/_variables';
@import '../../scss/abstracts/_mixins';

.customerList{
  border:1px solid green;

  table{
    width:100%;
    padding:0 8px;
    border:1px solid fuchsia;

    caption{
      margin:10px 10px 10px 10px;
      border:1px solid blue;
      font-weight: 700;
      font-size: 2rem;
      text-align: left;
    }
    th{
      text-align:left;
      text-transform: uppercase;
      border:1px solid blue;
      padding:4px 0;
    }
    td{
      border:1px solid red;
      padding:4px 0;
      font-size:1rem;
      font-weight: medium;
      letter-spacing:0.4px;

      &.buttons{
        display: flex;
        justify-content: space-evenly;
        background-color:green;
      }
      button{
        display:flex;
        align-items:center;
        justify-content:center;
        width:44px;
        height: 44px;
        font-size:1.5rem;
      }
    }

    
  }
}