@use 'sass:math';
@import '../../scss/abstracts/_variables';
@import '../../scss/abstracts/_mixins';

.paginations{
  &__list{
    display:flex;
    width:100%;
    height:44px;
    align-items: center;
    justify-content: center;
    max-width: 700px;
	margin: auto;
	padding: 10px 0 60px 0;
  &__item:not(.threePoints) {
    margin: 0 6px;
    border: 2px solid #ecf0f1;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease;
  }
  &__item:not(.threePoints, .active):hover {
    transform: scale(1.1);
    box-shadow: 0 4px 16px #dde0e169;
    background: #bdc3c7;
    color: fuchsia;
  }
  &__item.threePoints {
    font-size: 28px;
    line-height: 28px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  }
  
}