@use 'sass:math';
@import '../../scss/abstracts/_variables';
@import '../../scss/abstracts/_mixins';

.toparea{
  width:100%;
  height:auto;
  padding:8px 40px;
  border:1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__search{
    width:50%;
    display:flex;
    align-items: center;
    i{
      font-size:1.5rem;
      color:#242424;
      position:absolute;
      left:75px;
    }
    input{
      width:100%;
      padding:8px 16px 8px 35px;
      border-radius:8px;
      border:2px solid lavender;
      outline:none;
      font-size:1rem;
      background-color: floralwhite;
      color:#242424;
    }
  }
  &__add{
    width:50%;
    display:flex;
    justify-content: flex-end;
    a{
      padding:8px 16px;
      border-radius:8px;
      border:none;
      outline:none;
      color:#242424;
      font-weight:bold;
      font-size:1.2rem;
      text-decoration: none;
      background-color:lightgreen;
    }
  }
}

table{
  width:100%;
  padding:0 px;
  border:1px solid green;
    caption{
      margin:10px;
      font-size:2rem;
      text-align: left;
    }

    thead{
      text-align: left;
    }
    tbody{
      border:1px solid red;
      td{
        padding:10px 2px;
        border:1px solid blue;
        &.buttons{
          display:flex;
          justify-content: space-around;
          align-items: center;
        }
        button, a{
          width:40px;
          height:40px;
          border-radius:50%;
          border:none;
          outline:none;
          background-color:lightseagreen;
          color:#000;
          font-size:2rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

    }
}

.customerList{
  border:1px solid green;

  table{
    width:100%;
    padding:0 8px;
    border:1px solid fuchsia;

    caption{
      margin:10px 10px 10px 10px;
      border:1px solid blue;
      font-weight: 700;
      font-size: 2rem;
      text-align: left;
    }
    th{
      text-align:left;
      text-transform: uppercase;
      border:1px solid blue;
      padding:4px 0;
    }
    td{
      border:1px solid red;
      padding:4px 0;
      font-size:1rem;
      font-weight: medium;
      letter-spacing:0.4px;

      &.buttons{
        display: flex;
        justify-content: space-evenly;
        background-color:green;
      }
      button{
        display:flex;
        align-items:center;
        justify-content:center;
        --size:44px;
        width:var(--size);
        height: var(--size);
        border-radius:50%;
        font-size:1.5rem;
      }
    }

    
  }
}