@import '../../scss/abstracts/_mixins';
@import '../../scss/abstracts/_variables';


.user__info{
  position: relative;
  @include flex(center, flex-start);
  background-color: $main-bg;
  border-radius: $border-radius;
  height: 50px;
  width:max-content;

  &__img{
    border:1px solid green;
    --size:40px;
    width:var(--size);
    height: var(--size);
    border-radius: $border-radius;

    img{
      --size:40px;
      width:var(--size);
      height: var(--size);
      border-radius: $border-radius;
    }
  }

  &__name{
    padding:0 $spacing;
    font-size:$font-size-medium;
    font-weight: 700;

    @include tablet{
      padding:0 $mobile-spacing;
    }
  }
}