@import '../../scss/abstracts/_mixins';
@import '../../scss/abstracts/_variables';


.user__info{
  position: relative;
  @include flex(center, center);
  height: 60px;
  border:1px solid blue;

  &__img{
    border:1px solid green;
    --size:40px;
    width:var(--size);
    height: var(--size);
    border-radius: $border-radius;
    margin-right:4px;

    img{
      --size:40px;
      width:var(--size);
      height: var(--size);
      border-radius: $border-radius;
    }
  }

  &__name{
    font-size:$font-size-medium;
    font-weight: 700;

    @include tablet{
      padding:0 $mobile-spacing;
    }
  }

  &__icon{
    @include flex(center, center);
    padding:0;
    --size:40px;
    width:var(--size);
    height:var(--size);
    span > i{
      font-size: 2rem;
      @include flex(center, center);
    }
  }
}