$body-bg:#F3F4FA;
$main-bg:#FFFFFF;
$blue:cadetblue;
$white:#f2f2fa;
$black:#151515;

$sidebar-width:262px;
$sidebar-logo-height:85px;

$spacing:48px;
$mobile-spacing:24px;

$font-size-normal:1rem;
$font-size-medium:1.2rem;
$font-size-large:1.5rem;

$mobile-width: 600px;
$tablet-width: 1024px;

$border-radius:50%;