$body-bg:#F3F4FA;
$main-bg:#FFFFFF;

$sidebar-width:262px;
$sidebar-logo-height:120px;

$spacing:48px;
$mobile-spacing:24px;

$font-size-normal:1rem;
$font-size-medium:1.2rem;

$mobile-width: 600px;
$tablet-width: 1024px;

$border-radius:50%;