@use 'sass:math';
@import '../../scss/abstracts/_variables';
@import '../../scss/abstracts/_mixins';

.customer__add{
  border:1px solid green;
  padding:0 80px;
  h2{
    text-align: left;
    margin:20px auto;
    text-transform: uppercase;
    color:$text-color;
  }

  &__form{
    margin:20px auto;

    label{
      display:block;
      width:100%;
      padding-left:10px;
      font-size:1.1rem;
      letter-spacing: 0.8px;
      font-weight: 600;
      text-transform: uppercase;
      color:#888;
    }

    input{
      width:calc(100% - 120px);
      height:44px;
      margin:15px 10px;
      border-radius: 8px;
      border:3px solid darkgray;
    }

   &__info{
     display:flex;
     justify-content: space-between;
     
     &__personal{
       display:flex;
       flex-direction: column;
       width:100%;
       max-width:50%;
     }
     &__payment{
       width:100%;
       max-width:50%;
     }
   }
   &__buttons{
     width:100%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin:20px auto;

     button:nth-child(1){
       margin-right:20px;
       background-color: $green;
     }
     button:nth-child(2){
       background-color:lightgray;
     }
     button,
     a,
     Link{
       width:25%;
       height:52px;
       border:none;
       outline:none;
       border-radius:20px;
       font-size:1.5rem;
       font-weight:700;
     }
   }
  }
}