@use 'sass:math';
@import '../../scss/abstracts/_variables';
@import '../../scss/abstracts/_mixins';

.customer__add{
  border:1px solid green;
  h2{
    text-align: left;
    margin:20px auto;
  }

  &__form{
    margin:20px auto;

    label{
      display:block;
      width:100%;
      padding-left:10px;
      font-size:1.1rem;
      letter-spacing: 0.8px;
      font-weight: 600;
      text-transform: uppercase;
      color:#888;
      border:1px solid teal;
    }

    input{
      width:90%;
      height:36px;
      margin:10px;
      border-radius: 8px;
      border:3px solid darkgray;
    }

   &__info{
     display:flex;
     justify-content: space-between;
     
     &__personal{
       display:flex;
       flex-direction: column;
       width:100%;
       max-width:50%;
       border:1px solid hotpink;
     }
     &__payment{
       width:100%;
       max-width:50%;
       border:1px solid gold;
     }
   }
  }
}