//@import url('../scss/abstracts/_mixins.scss');
//@import url('../scss/abstracts/_variables.scss');

@import '../scss/abstracts/_mixins';
@import '../scss/abstracts/_variables';

.main {
    padding-left: $sidebar-width;
    overflow-x: hidden;

    @include tablet {
        padding-left: 0;
        width: 100vw;
    }

    &__content {
        min-height: 100vh;
        padding: 20px;
        transition: all 0.5s ease-in-out;

        @include tablet {
            padding: $mobileSpacing;
            position: relative;
            background-color: $body-bg;
            z-index: 100;
        }
    }
}